:host {
  width: 95%;
  margin: 3px auto 3px auto;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: var(--color-song);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.songArtist::slotted(*) {
  /* position: relative; */
  max-width: 75%;
}

.songButton {
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 5px;
  background-size: 70% 70%;
  background-color: var(--color-control-buttons);
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: normal;
  cursor: pointer;
  box-shadow: -1px 1px rgb(10 10 10 / 100%);
  transition: box-shadow .5s;
}

.smallButton {
  height: 30px;
  width: 30px;
}

.songButton:hover {
  box-shadow: -2px 2px rgb(10 10 10 / 50%);
}

.notQueued {
  background-image: url(./enqueued.png);
}

.inQueue {
  background-image: url(./enqueued.png);
  background-color: var(--color-control-button-selected);
}

.included {
  background-image: url(./cross.png);
}

.excluded {
  background-image: url(./cross.png);
  background-color: var(--color-control-button-selected);
}

.toListen {
  background-image: url(./history.png);
}

.listened {
  background-image: url(./history.png);
  background-color: var(--color-control-button-selected);
}
