:host {
    width: 95%;
    margin: 3px auto 3px auto;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: var(--color-song);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.excludeSongButton {
    height: 20px;
    width: 20px;
}

.included {
}

.excluded {
    background-blend-mode: normal;
    background-image: url(./cross.png);
    background-repeat: no-repeat;
    background-size: cover;
}
