:root{
    --color-control-buttons: lavender;
    --color-bg-top: skyblue;
    --color-bg-bottom: wheat;
    --color-player: lavenderblush;
}

body {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, var(--color-bg-top), var(--color-bg-bottom));
    align-items: center;
}

.controlButton {
    height: 40px;
    width: 40px;
    background-color: var(--color-control-buttons);
    border: none;
    border-radius: 10px;
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: normal;
    cursor: pointer;
    box-shadow: -1px 1px rgb(10 10 10 / 100%);
    transition: box-shadow .5s;
}

.controlButton:hover{
    box-shadow: -2px 2px rgb(10 10 10 / 50%);
}


#playerManager {
    background: var(--color-player);
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    height: 500px;
    width: 700px;
    box-shadow: -3px 3px 2px 0px rgb(10 10 10 / 50%);
    border-radius: 8px;
    transform: translateZ(1px) rotate3d(0, 1, 0, 180deg);
}

#leftPanel {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 300px;
    height: 500px;
    border-radius: 8px 0 0 8px;
}

#songList {
    flex: 1;
    width: 100%;
}

#controlBar {
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media (max-height: 500px) {
    #playerManager {
        height: 90%;
    }

    #leftPanel {
        height: 100%;
    }
}

#uploadFilesButton {
    background-image: url(./pageroot/body/playerManager/leftPanel/controlBar/folder.png);
}

#uploadFilesButton::file-selector-button {
    visibility: hidden;
}

#modeSwitchButton {}

.sequential {
    background-image: url(./pageroot/body/playerManager/leftPanel/controlBar/arrow-right.png);
}

.shuffle {
    background-image: url(./pageroot/body/playerManager/leftPanel/controlBar/shuffle.png);
}

.fairshuffle {
    background-image: url(./pageroot/body/playerManager/leftPanel/controlBar/dice.png);
}

#uploadProbsButton {
    background-image: url(./pageroot/body/playerManager/leftPanel/controlBar/curve.png);
}

#uploadProbsButton::file-selector-button {
    visibility: hidden;
}

#previousTrackButton {
    background-image: url(./pageroot/body/playerManager/player/back.png);
}

#nextTrackButton {
    background-image: url(./pageroot/body/playerManager/player/next.png);
}

.playButton{
    background-image: url(./pageroot/body/playerManager/player/play-button.png);
}

.pauseButton{
    background-image: url(./pageroot/body/playerManager/player/pause-button.png);
}

#playingSongImage{
    width: 300px;
    max-height: 150px;
    border-radius: 16px;
}

#playingSong{
    width: 100%;
}

#playingSong::-webkit-media-controls-play-button{
    display: none;
}

#playingSong::-webkit-media-controls-timeline{
    display: none;
}

#playingSong::-webkit-media-controls-panel{
    justify-content: center;
}

/* Song item style */

[is='song-item']{
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
}

[is='song-item']::part(artist){
    background-color: lavender;
    padding: 4px;
    border-radius: 4px 4px 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-variant: small-caps;
}


[is='song-item']::part(title){
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: petite-caps;
    font-size: .8em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Player panel style */

[is='player-panel'] {
    height: 500px;
    width: 400px;
    border-radius: 0 8px 8px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    padding: 10px;
}

[is='player-panel']::part(audioControls) {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    box-sizing: border-box;
    align-items: center;
    flex-wrap: wrap;
}

[is='player-panel']::part(turntable) {
    --side-size: 150px;
    height: var(--side-size);
    width: var(--side-size);
    background-size: cover;
    background-image: url(./pageroot/body/playerManager/player/vynil.png);
    cursor: pointer;
}

@media (max-height: 500px) {
    [is='player-panel'] {
        height: 100%;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
